@media (max-width: 1000px) {
    header .full-size-content {
        flex-direction: column;
    }

    header .full-size-content .full-size-text {
        width: 100%;
    }

    header .full-size-content .full-size-img img {
        width: 100%;
    }

    main .full-size-projects {
        flex-direction: column;
    }

    main .full-size-projects .rectengel {
        width: 300px;
        height: 350px;
        margin: 20px;
    }
}