.box {
    height: 600px;
    width: 350px;
    padding: 40px;
    border-radius: 40px 0 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: $font-color;
    text-align: center;
}

.box h6 {
    font-size: 30px;
    color: $second-color;
    font-weight: 500;
}

.box input[type="text"], .box input[type="email"], textarea {
    border: 2px solid $background-color;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    padding: 15px 10px;
    width: 200px;
    font-size: 15px;
    color: $second-color;
    border-radius: 24px;
    outline: none;
}

.box input[type="text"]:focus, .box input[type="email"]:focus, textarea:focus {
    width: 250px;
    border-color: $second-color;
    transition: all 0.5s;
}

.box input[type="submit"] {
    border: 2px solid $background-color;
    font-size: 20px;
    background: none;
    display: block;
    margin: 10px auto;
    text-align: center;
    padding: 14px 40px;
    width: 200px;
    outline: none;
    color: $second-color;
    border-radius: 24px;
    cursor: pointer;
    transition: all 0.5s;
}

.box input[type="submit"]:hover {
    background-color: $background-color;
    color: $font-color;
}